<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dojo Fruit Store Checkout</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>Thank you for your order!</h1>
    </header>
    <p>We ordered {{ total_count }} items for you and charged your student account on {{ timestamp }}.</p>

    <h2>You've ordered</h2>
    <table>
        <tr>
            <th>Fruit Name</th>
            <th>Quantity</th>
        </tr>
        {% for fruit, count in fruits.items() %}
        <tr>
            <td>{{ fruit }}</td>
            <td>{{ count }}</td>
        </tr>
        {% endfor %}
    </table>

    <h2>Your Information</h2>
    <p>Name: {{ name }}</p>
    <p>Your Student ID: {{ student_id }}</p>
</body>
</html>
