<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ninga Gold</title>
</head>

<body>
    <label for="YGold">Your Gold:</label>
    <input type="number" id="YGold" name="YGold" value=50><br>

    <div class="form-container">

        <form action="" method="post">
            {% csrf_token %}
            <h2> Farm </h2>
            <p> earns 10-20 gold</p>
            <input type="hidden" name="which_form" value="farm">
            <input type="submit" value="Find Gold!">
        </form>

        <form action="" method="post">
            {% csrf_token %}
            <h2> Farm </h2>
            <p> earns 10-20 gold</p>
            <input type="hidden" name="which_form" value="farm">
            <input type="submit" value="Find Gold!">
        </form>

        <form action="" method="post">
            {% csrf_token %}
            <h2> Farm </h2>
            <p> earns 10-20 gold</p>
            <input type="hidden" name="which_form" value="farm">
            <input type="submit" value="Find Gold!">
        </form>

        <form action="" method="post">
            {% csrf_token %}
            <h2> Farm </h2>
            <p> earns 10-20 gold</p>
            <input type="hidden" name="which_form" value="farm">
            <input type="submit" value="Find Gold!">
        </form>




    </div>
</body>

</html>