<!DOCTYPE html>
<html>
<head>
<style>
body {
    text-align: center;
    margin-top: 50px;
   
}
.square{
    background-color: rgb(113, 179, 255);
    height: 100px;
    width: 100px;
    border: solid black 2px;
}
.container{
    display: flex;
    justify-content: space-around;
    
}

h1 {
    text-align: center;
 
} 
</style>
</head>
<body>

<h1>Welcome! </h1>
<div class="container">
<div class="square"> </div>
<div class="square"> </div>
<div class="square"> </div>
</div>
</body>
</html>


